:root {
  --card-background-color: white;
}

:global(html.dark) {
  --card-background-color: black;
}

.card {
  background-color: var(--card-background-color);
  // border: 1px solid #eaeaea;
  border-radius: 4px;
  padding: 16px;
  box-shadow:
    var(--box-shadow-color-1) 0px 2px 1px -1px,
    var(--box-shadow-color-2) 0px 1px 1px 0px,
    var(--box-shadow-color-3) 0px 1px 3px 0px;
}
