@import 'normalize.css';
@import 'colors';
@import 'spacing';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 1rem;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--color);
}

@media (prefers-reduced-motion: no-preference) {
  /* a:nth-of-type(2) .logo { */
  /*   animation: logo-spin infinite 20s linear; */
  /* } */
}
