@import 'normalize.css';
@import 'colors';
@import 'typography';
@import 'spacing';

:root {
  color-scheme: light dark;
}

body {
  margin: 1rem;
  display: flex;
  min-height: 100vh;
  background-color: var(--background-color);
}

@media (prefers-reduced-motion: no-preference) {
  /* a:nth-of-type(2) .logo { */
  /*   animation: logo-spin infinite 20s linear; */
  /* } */
}
